main {
	/*Add spacing from the top and allow flexible growth*/
  	margin-top: 8rem;
  	flex: 1;
}

.intro-container {
	/*Intro content layout*/
  	max-width: 1000px;
  	font-size: 20px;
  	margin-left: auto;
  	margin-right: auto;
  	display: flex;
  	gap: 5rem;
  	align-items: flex-start;
  	padding: 2rem 0;
}

.text-blocks {
	/*Container for intro text*/
	flex: 1;
  	max-width: 600px;
  	display: flex;
  	flex-direction: column;
}

.intro-text p {
	/*Intro paragraph spacing*/
	margin-top: 0;
	line-height: 1.5;
	font-size: 20px;
}

.carousel-section h2 {
	margin-top: 4rem;
	margin-bottom: -0.5rem;
}

.carousel-container {
	/*Container for rotating text*/
  	position: relative;
  	overflow: visible;
  	font-size: 1em;
  	line-height: 1.5;
  	font-weight: 500;
  	color: var(--text-dark);
}

.carousel-text {
	/*Hidden text for animation*/
  	position: absolute;
  	top: 0;
  	left: 0;
  	opacity: 0;
  	transition: opacity 0.5s ease-in-out;
  	background-color: rgba(246, 212, 212, 0.5);
  	padding: 0.25rem 0.5rem;
  	border-radius: 5px;
  	white-space: nowrap;
  	line-height: 1.5;
}

.intro-image img {
	/*Style intro image as circular*/
  	width: 400px;
  	height: 400px;
  	margin-top: -1rem;
  	border-radius: 50%;
  	object-fit: cover;
  	border: 2px solid var(--blush);
}

/*For smaller screens sizing*/
@media (max-width: 768px) {
	.text-blocks {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.intro-container {
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	text-align: center;
    	gap: 1rem;
	}

	.carousel-section {
	  	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 1rem 0;
		text-align: center;
	}

	.carousel-section h2 {
		margin-top: 0.5rem;
	  	margin-bottom: 0.5rem;
		width: 100%;
		text-align: center;
	}

	.carousel-container {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 2rem;
	}

	.carousel-text {
		font-size: 1rem;
	  	line-height: 1.4;
	  	background-color: rgba(246, 212, 212, 0.5);
	  	border-radius: 5px;
		margin-left: 6rem;
		text-align: center;
	}

	.intro-image img {
		width: 250px;
		height: 250px;
		margin-top: 0.5rem;
	}
}